html{
    --space-5: 5px;
    --space-10: 10px;
    --space-15: 15px;
    --space-20: 20px;
    --space-25: 25px;
    --space-35: 35px;
    --space-40: 40px;
    --space-60: 60px;
    --space-80: 80px;
    --space-100: 100px;
    --space-150: 150px;
    --space-250: 250px;
    --space-280: 280px;
    --space-300: 300px;
    --space-350: 350px;
    --space-380: 380px;
    --space-400: 400px;
}