.FadeIn{
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-name: FadeIn;
    -webkit-animation-name: FadeIn;
    -moz-animation-name: FadeIn;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.FadeInDown {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-name: FadeInDown;
    -webkit-animation-name: FadeInDown;
    -moz-animation-name: FadeInDown;
}

@keyframes FadeInDown {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.FadeInUp{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-name: FadeInUp;
    -webkit-animation-name: FadeInUp;
    -moz-animation-name: FadeInUp;
}

@keyframes FadeInUp {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}