@import './variables/colors.css';
@import './variables/spaces.css';
@import './fonts.css';

body{
    background-color: var(--white);
}

::-moz-selection { /* Code for Firefox */
    color: var(--white);
    background: var(--accent);
}

::selection {
    color: var(--white);
    background: var(--accent);
}

.dm-nav{
    display: block;
    background-color: var(--blue);
    color: var(--white);
    font-family: 'title';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-10);
    max-height: var(--space-60);
}

.dm-menu{
    color: var(--white);
    display: inline-block;
    padding: var(--space-20) var(--space-15);
}

.dm-menu:hover{
    background-color: var(--blue-dark);
}

.dm-menu:active{
    background-color: var(--blue-light);
}

.dm-logo{
    background-color: var(--white);
    padding: var(--space-10);
    margin: var(--space-5);
    color: var(--black);
    display: inline;
    border-radius: var(--space-5);
}

/*Main content*/
.main-container{
    height: calc(100vh - var(--space-60));
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 75%;
    margin: auto;
    padding: 0 var(--space-25);
}

.border-card{
    width: var(--space-350);
    height: var(--space-400);
    border: 1px solid var(--black);
    border-radius: var(--space-5);
    padding: var(--space-10);
    background-color: var(--white);
    z-index: 1;
    box-shadow: 3px 1px 2px 0px var(--black);
}

.border-card>img{
    width: var(--space-350);
    height: var(--space-300);
}

.unborder-card{
    max-width: 800px;
    height: var(--space-400);
    z-index: 1;
    padding: 0 var(--space-20);
}

.unborder-card .title{
    margin-bottom: var(--space-35);
}

.unborder-card  .paragraph{
    text-align: justify;
    margin: var(--space-10) 0;
}


.circle-container{
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.circle-container > img {
    width: 100%;
}

/*How we work*/

.secondary-container {
    margin: var(--space-40) auto;
    max-width: 75%;
    color: var(--black);
}

.secondary-container > h2{
    text-align: center;
}

.secondary-container span {
    color: var(--black);
    font-weight: bold;
}

.secondary-container img{
    width: var(--space-250);
}

.secondary-container > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15% 0;
}

.secondary-container h3 {
    color: var(--black);
    text-align: center;
    margin-top: var(--space-25);
    font-weight: bold;
}

/*Our clients*/

.client-card{
    height: var(--space-380);
    width: var(--space-300);
    border: 1px solid var(--black);
    padding: var(--space-5);
    text-align: justify;
    position: relative;
}

.client-card img {
    width: 100%;
}

.client-name{
    display: block;
    position: absolute;
    bottom: var(--space-10);
    right: var(--space-5);
}

/*Footer*/
footer{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    padding: var(--space-20);
}